* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
}

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

 ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body {
    font-family: 'Poppins', sans-serif;
    background: #e9eef2;
}

main {
    padding: 40px 50px;
    display: grid;
    grid-template-columns: 2fr 0.8fr;
}

@media (max-width: 640px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 25px 30px;
    }
}